<a href="https://colab.research.google.com/github/szh141/Examples/blob/main/10_Python_functions_20241030.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://medium.com/@yaduvanshineelam09/10-python-functions-every-data-scientist-must-memorize-fc5ff51d6c91

list()
https://www.geeksforgeeks.org/python-list-function/

map() vs for loop
https://stackoverflow.com/questions/1975250/when-should-i-use-a-map-instead-of-a-for-loop

# 1. Print() and sep=' : ) '

In [9]:
def display_sales_info(product, sales, revenue):
    print('Product ', product, sep=':) ')
    print('Total Sales', sales, sep=':')
    print('Total Revenue ', revenue, sep='-->')
display_sales_info('Laptop', 1500, '3000 USD')

Product :) Laptop
Total Sales:1500
Total Revenue -->3000 USD

# 2. Help()

In [3]:
def calculate_discounted_price(price, discount):
  """ Calculate the discounted price of a product.
      price: original price of the product
      discount: discount percentage to be applied returns: float
  """
  return price * (1 - discount / 100)

# Example of using the help function
help(calculate_discounted_price)

Help on function calculate_discounted_price in module __main__:

calculate_discounted_price(price, discount)
    Calculate the discounted price of a product.
    price: original price of the product
    discount: discount percentage to be applied returns: float

# 3. Range ()

In [12]:
print(range(5))
print(list(range(5)))
print(list(range(5,9)))

range(0, 5)
[0, 1, 2, 3, 4]
[5, 6, 7, 8]

#4. Map()
map() vs for loop

lamda function

list()

In [13]:
def apply_discount(prices, discount):
 return list(map(lambda x: x * (1 - discount / 100), prices))

print(apply_discount([100, 200, 300, 400, 500], 10)) # Apply a 10% discount

[90.0, 180.0, 270.0, 360.0, 450.0]

#5. Filter()

lamda x

list()

In [14]:
def filter_high_sales(sales, threshold):
 return list(filter(lambda x: x > threshold, sales))

print(filter_high_sales([100, 200, 50, 300, 150], 150)) # Filter sales greater than 150

[200, 300]

#6. Sorted()

lambda x or lambda word

don't need list()

In [15]:
a = ["apple", "kiwi", "cherry", "pineapple"]

# Sorting using custom function
def fun(word):
    return word[-1]

res = sorted(a, key=fun)
print("Sorted using custom function:", res)

# Sorting using lambda function
res = sorted(a, key=lambda word: word[-1])
print("Sorted using lambda function:", res)

Sorted using custom function: ['apple', 'pineapple', 'kiwi', 'cherry']
Sorted using lambda function: ['apple', 'pineapple', 'kiwi', 'cherry']

#7. Enumerate()

#8. Zip()