<a href="https://colab.research.google.com/github/szh141/Examples/blob/main/Copy_of_Pandas_map_vs_apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Numbers': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

In [ ]:
# Using map() to square each number
df['Squared'] = df['Numbers'].map(lambda x: x**2)

print(df)

   Numbers  Squared
0        1        1
1        2        4
2        3        9
3        4       16
4        5       25

In [ ]:
# Using apply() on a Series
df['Cubed'] = df['Numbers'].apply(lambda x: x**3)

print(df)

   Numbers  Squared  Cubed
0        1        1      1
1        2        4      8
2        3        9     27
3        4       16     64
4        5       25    125

apply() works just like map() on a Series.

Where apply() shines—Handling multiple columns

Let’s say you want to create a new column that adds Squared + Cubed for each row. Here’s how apply() makes it effortless:

In [ ]:
df['Sum_Cube_Square'] =  df['Squared'] + df['Cubed']
df

In [ ]:
# Using apply() on DataFrame to calculate sum of Squared and Cubed
df['Sum_Cube_Square'] = df.apply(lambda row: row['Squared'] + row['Cubed'], axis=1)

print(df)

# why I cannot df['Sum_Cube_Square'] =  df['Squared'] + df['Cubed']

   Numbers  Squared  Cubed  Sum_Cube_Square
0        1        1      1                2
1        2        4      8               12
2        3        9     27               36
3        4       16     64               80
4        5       25    125              150