<a href="https://colab.research.google.com/github/szh141/Examples/blob/main/Pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://python.plainenglish.io/pandas-demystified-a-comprehensive-handbook-for-data-enthusiasts-part-1-136127e407f

pandas cheatsheet

In [3]:
import pandas as pd
data = [1, 2, 3, 4, 5]
cities = ['Shanghai','Kolkata', 'Chicago', 'Toronto', 'Lisbon']
series = pd.Series(data, name="MySeries",index=cities)

# Vectorized operations of series
series = series * 2


series

Shanghai     2
Kolkata      4
Chicago      6
Toronto      8
Lisbon      10
Name: MySeries, dtype: int64

Series and DataFrame
Index and columns
inplace=True

In [1]:
import pandas as pd
data = {
 "Name": ["Alice", "Bob", "Charlie", "David"],
 "Age": [25, 30, 35, 40],
 "City": ["New York", "San Francisco", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

# Renaming the 'Name' column to 'Person_Name'
# inplace=True, will save the changes.
df.rename(columns={'Name':'Person_Name'}, inplace=True)

In [ ]:
#read file

df_csv = pd.read_csv('data.csv')

df_sheet1 = pd.read_excel('data.xlsx', sheet_name='Sheet1')

# Load data from a JSON file
df_json = pd.read_json('data.json')

In [ ]:
df.City
df['City']

# By default value counts will not return the count of missing values
df['City'].value_counts()

# use dropna = False, to also get the counts of missing values along with other
df['City'].value_counts(dropna=False)

df.Age.mean() # dataframe.column_name.mean()
df.Salary.median() # dataframe.column_name.median()
df.Gender.mode() # dataframe.column_name.mode()

In [ ]:
#use square brackets with the column names as a list.
selected_columns = df[['Column1', 'Column2']]

#Using .loc[] For Label-Based Selection:
#The .loc[] indexer allows you to select rows and columns by label.
selected_data = df.loc[3:6, ['Column1', 'Column2']]

#Using .iloc[] For Integer-Based Selection:
#The .iloc[] indexer lets you select rows and columns by integer location.
selected_data = df.iloc[1:4, 0:2]

In [ ]:
#logical operators (& for AND, | for OR) and use parentheses for clarity
boolean_mask = (df['Age'] > 25) & (df['Salary'] > 50000)
filtered_data = df[boolean_mask]

boolean_mask = (df['Age'] > 60) | (df['Age'] > 18)
filtered_data = df[boolean_mask]

In [ ]:
#set_index(): This method allows you to set one or more columns as the DataFrameâ€™s index.
df.set_index('ID',inplace=True)

#reset_index(): The reset_index() method resets the index to the default integer index
#and optionally removes the existing index.
df = df.reset_index(drop=True)

In [ ]:
# Creates a new column with the name New_Column
df['New_Column'] = [1, 2, 3, 4]

# Using .drop() to remove columns
df.drop(['Column1', 'Column2'], axis=1, inplace=True)