<a href="https://colab.research.google.com/github/szh141/Examples/blob/main/Pandas_groupby_20241031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://medium.com/@ebimsv/mastering-pandas-part-5-data-aggregation-and-grouping-d5f1f2df2114

# Groupby

In [6]:
import pandas as pd

# Sample data with different categories and regions
data = {
    'Product': ['Laptop', 'Smartphone',
                'Sofa', 'Chair',
                'T-shirt', 'Jeans'],

    'Category': ['Electronics', 'Electronics',
                 'Furniture', 'Furniture',
                 'Clothing', 'Clothing'],

    'Region': ['North', 'South', 'West', 'North', 'South', 'East'],
    'Sales': [1000, 800, 1500, 600, 200, 400]
}
df = pd.DataFrame(data)

print(df,'\n')

# Group by Category and Region, then sum the Sales
regional_sales = df.groupby(['Category', 'Region'])['Sales'].sum()
print(regional_sales)

      Product     Category Region  Sales
0      Laptop  Electronics  North   1000
1  Smartphone  Electronics  South    800
2        Sofa    Furniture   West   1500
3       Chair    Furniture  North    600
4     T-shirt     Clothing  South    200
5       Jeans     Clothing   East    400

Category     Region
Clothing     East       400
             South      200
Electronics  North     1000
             South      800
Furniture    North      600
             West      1500
Name: Sales, dtype: int64

# Aggregate

In [7]:
# Real-world example: Aggregating sales by category and region
sales_summary = df.groupby(['Category', 'Region'])['Sales'].agg(['sum',
                                                                 'mean',
                                                                 'count'])
sales_summary.columns = ['Total Sales',
                         'Average Sales',
                         'Number of Transactions']

print(sales_summary)

                    Total Sales  Average Sales  Number of Transactions
Category    Region
Clothing    East            400          400.0                       1
            South           200          200.0                       1
Electronics North          1000         1000.0                       1
            South           800          800.0                       1
Furniture   North           600          600.0                       1
            West           1500         1500.0                       1