<a href="https://colab.research.google.com/github/szh141/Examples/blob/main/Python%20tricks/Pandas_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://python.plainenglish.io/pandas-demystified-a-comprehensive-handbook-for-data-enthusiasts-part-2-4e2449fcc939

In [2]:
# groupby

import pandas as pd

# Sample DataFrame
data = {'Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing'],
        'Sales': [1000, 500, 800, 500]}
df = pd.DataFrame(data)

# Grouping by 'Category'
grouped_data = df.groupby('Category')

# Choosing sales column to compare with grouped data and using sum function
# This gives the total sales for each category.
total_sales = grouped_data['Sales'].sum()
print(total_sales)

Category
Clothing       1000
Electronics    1800
Name: Sales, dtype: int64

In [3]:
# groupby multiple columns

# Sample DataFrame
data = {'Class': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Gender': ['Male', 'Male', 'Female', 'Female', 'Male', 'Female'],
        'Math_Score': [85, 92, 78, 89, 90, 86],
        'English_Score': [88, 94, 80, 92, 92, 88]}
df = pd.DataFrame(data)

# Grouping by 'Class' and 'Gender' and calculating statistics
grouped_data = df.groupby(['Class', 'Gender'])

# Calculate the mean for Math_score
agg_results = grouped_data['Math_Score'].mean()

print(agg_results)

Class  Gender
A      Female    78.0
       Male      87.5
B      Female    87.5
       Male      92.0
Name: Math_Score, dtype: float64

In [5]:
# without specifying a column
aggregated_data = grouped_data.mean()
print(aggregated_data)

              Math_Score  English_Score
Class Gender
A     Female        78.0           80.0
      Male          87.5           90.0
B     Female        87.5           90.0
      Male          92.0           94.0

Categorical data

One Hot Encoding vs label encoding

In [6]:
import pandas as pd

# Sample DataFrame with a categorical column
data = {'Category': ['A', 'B', 'A', 'C', 'B'],
         'Count':[1,2,3,4,5]}
df = pd.DataFrame(data)

# Perform one-hot encoding
encoded_df = pd.get_dummies(df, columns=['Category'])
print(encoded_df)

   Count  Category_A  Category_B  Category_C
0      1           1           0           0
1      2           0           1           0
2      3           1           0           0
3      4           0           0           1
4      5           0           1           0

Label encoding: Say there are 100 unique values in a categorical column, in that case if we use **one-hot encoding it would create 100 new columns**! If we donâ€™t want to populate the data like that, we have another approach in which it assigns a unique numerical value to each category. .astype('category').cat.codes method is used to convert category columns to label encoding.

In [7]:
df2 = pd.DataFrame(data)

# Perform label encoding
df2['Category_Encoded'] = df2['Category'].astype('category').cat.codes
print(df2)

  Category  Count  Category_Encoded
0        A      1                 0
1        B      2                 1
2        A      3                 0
3        C      4                 2
4        B      5                 1