<a href="https://colab.research.google.com/github/szh141/Examples/blob/main/Python_tricks/pandas_query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)
print("Create DataFrame:\n", df)

Create DataFrame:
    Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [2]:
# Query Rows using DataFrame.query()
df2=df.query("Courses == 'Spark'")

print("Create DataFrame:\n", df2)

# Using variable
value='Spark'
df3=df.query("Courses == @value")
print("Create DataFrame:\n", df3)

Create DataFrame:
   Courses    Fee Duration  Discount
0   Spark  22000   30days      1000
Create DataFrame:
   Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [3]:

# Inpace
df4=df
df4.query("Courses == 'Spark'",inplace=True)
print("Create DataFrame:\n", df4)

Create DataFrame:
   Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [ ]:
# Not equals, in & multiple conditions
df.query("Courses != 'Spark'")
df.query("Courses in ('Spark','PySpark')")
df.query("`Courses Fee` >= 23000")
df.query("`Courses Fee` >= 23000 and `Courses Fee` <= 24000")